body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#container {
  display: none;
}

#container2 {
  position: absolute;
  width: 30%;
  height: 20%;
  border:#013a72 5px solid ;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.616);
  left: 35%;
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  overflow: hidden;
}

#toggle {
  background-color: #013a72;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  border:#013a72 2px solid ;
}

#menuText {
  width: 80%;
  border:#013a72 2px solid ;
  background-color: white;
  border-radius: 5px;
  font-size: 1.2vw;
}

#titleText {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3vw;
  height: 25%;
  color: #013a72;
  font-weight: bold;
}

#buttonContainer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
  margin-top: 10%;
}

#toggle i {
  font-size: 60px;
  color: white;
  display: block;
  margin-top: 20px;
  transition: 0.7s;
}
#close {
  transition-timing-function: linear;
}

#menu {
  background-color: rgba(255, 255, 255, 0.616);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.7s;
  transform: scale(0);
  border:#013a72 5px solid ;
}

#buttonTextConfirm {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #013a72;
  width: 25%;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  transition: 0.1s;
}

#buttonTextCancell {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #c00000;
  width: 25%;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  transition: 0.1s;
}

#buttonTextCancell:hover,#buttonTextConfirm:hover {
  cursor: pointer;
  opacity: 0.8;
}

#close:hover {
  opacity: 0.6;
} 

#menu i {
  display: inline-block;
  position: absolute;
  font-size: 40px;
  color: #013a72;
  transition: 0.4s;
}

#description {
  width: auto;
  height: auto;
  font-size: 12px;
  text-align: center;
  color:#013a72 ;
  background-color: white;
  border:gray 3px solid ;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  display: none;
  border-radius: 5px;
  overflow-wrap: break-word;
  padding: 2px;
}

#menu i:hover {
  opacity: 0.6;
}

#menu i:nth-child(1){
  top: 25px;
  left: 130px;
}
#menu i:nth-child(2){
  top: 55px;
  right: 55px;
}
#menu i:nth-child(3){
  top: 130px;
  right: 25px;
}
#menu i:nth-child(4){
  bottom: 55px;
  right: 55px;
}
#menu i:nth-child(5){
  bottom: 25px;
  left: 130px;
}
#menu i:nth-child(6){
  bottom: 55px;
  left: 55px;
}
#menu i:nth-child(7){
  top: 130px;
  left: 25px;
}
#menu i:nth-child(8){
  top: 55px;
  left: 55px;
}
